.title{
    color: black;
    display: inline-block;
}
.subtitle{
    color:rgba(37, 35, 35, 0.893);
}
.editorial{
    color: white;
    background-color: rgba(0, 183, 255, 0.671);
    border-radius: 40px;
    padding-top: 5px;
    border-bottom-left-radius: 30px;
    margin-left: 10px
}
.
